{
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.html", "*.css", "*.jsx", "*.json", "*.md"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
