#hero {
  background: linear-gradient(150deg, var(--primary) 40%, var(--bg-deep) 40%);
  padding: 8vw;
  width: 100%;

  figure {
    position: relative;
    margin-bottom: 3rem;
    box-shadow: var(--double-shadow);
    height: 130vw;
  }

  img {
    height: 100%;
    object-fit: cover;
    object-position: 65% 50%;
  }

  h1 {
    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;
    overflow: hidden;
    color: #ffffff;
    font: var(--h-lrg);
    font-weight: normal;
    text-shadow:
      0 0.3em 0.6em #000000bb,
      0 0 0.2em #000000ae;
  }

  h2 {
    margin-bottom: 0.3em;
    font: var(--h-mid);
    text-align: center;
  }

  p {
    color: var(--text-muted);
    font: var(--p-lrg);
  }

  .about-icons-container {
    display: flex;
    justify-content: center;
    gap: 0.3em;
    margin-top: 1em;
  }

  .about-link {
    padding: 0.5em 0.8em;
  }

  .about-icon {
    height: 2em;
    fill: var(--text);
  }
}
