.hero {
  figure {
    position: relative;
    margin: 0 8vw;
    height: 140vw;
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  h1 {
    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;
    color: #ffffff;
    text-shadow:
      0 0.3em 0.6em #000000bb,
      0 0 0.2em #000000ae;
  }

  p {
    font: var(--p-lrg);
  }
}
