.hero {
  figure {
    position: relative;
    margin: 8vw;
    box-shadow: var(--double-shadow);
    height: 130vw;
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  h1 {
    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;
    overflow: hidden;
    color: #ffffff;
    font: var(--h-lrg);
    text-shadow:
      0 0.3em 0.6em #000000bb,
      0 0 0.2em #000000ae;
  }

  h2 {
    font: var(--h-mid);
    text-align: center;
  }

  p {
    color: var(--text-muted);
    font: var(--p-lrg);
  }
}
