.project-card {
  box-shadow: var(--double-shadow);
  background-color: var(--bg-normal);

  .name-links-container {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin: 0.7rem var(--gap) 0 calc(1.5 * var(--gap));
    font: var(--h-sml);
  }

  .project-name {
    flex: auto;
    max-height: 3.5rem;
    text-overflow: ellipsis;
  }

  .project-link {
    padding: 0.5em 0.4em;
  }

  .project-icon {
    height: 1.5rem;
  }

  img {
    background-color: var(--bg-soft);
    aspect-ratio: 1.7;
    width: 100%;
    object-fit: cover;
  }

  p {
    padding: 0.4rem calc(var(--gap) + 0.2rem) var(--gap);
    min-height: 7em;
    max-height: 9em;
    color: var(--text-muted);
    font: var(--p-lrg);
    text-overflow: ellipsis;
  }
}
