#footer {
  margin-top: var(--section-gap);
  background-color: var(--primary);
  color: #ffffff;

  .contact {
    padding: 2rem 1rem;
  }

  h2 {
    margin-bottom: 1rem;
    font: var(--h-mid);
    text-align: center;
  }

  .message {
    margin-bottom: 1rem;
    font: var(--p-mid);
  }

  p {
    margin-bottom: 1rem;
    font: var(--p-sml);
  }

  picture,
  .footer-image {
    aspect-ratio: 0.6;
    width: 100%;
    height: auto;
  }

  .footer-image {
    object-fit: cover;
  }
}
