.hero {
  figure {
    position: relative;
    margin: 0 1rem;
  }

  figcaption {
    z-index: 100;
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    color: #ffffff;
    text-shadow: 0 0.2em 0.2em #000000a6;
  }
}
